
// Body
$bg-body: #F0F4F7;

// Typography
$font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base: 0.85rem;
$font-size-md: 0.80rem;
$font-size-sm: 0.75rem;
$line-height-base: 1.6;

// Colors
$blue: #0a92dd;
$primary: #009ad9;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;

$dark-blue: #102A43;
$primary-blue: #5D63FF;
$light-blue: #b8c7ce;
$blue-400: #4098D7;
$blue-800: #84C5F4;
$blue-900: #B6E0FE;
$blue-950: #DCEEFB;
$smoke-blue: darken(#f9fbff, 1%);
$font-blue: #3166C0;
$smoke: #f6fafc;

$gray-000: #f8f9fa;
$gray-100: #eceff2;
$gray-200: #dee2e6;
$gray-300: #ced4da;
$gray-400: #adb5bd;
$gray-500: #8B97A3;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$border-color: #e9edf1;
$border: 1px solid $border-color;
$border-focus: 1px solid darken($border-color, 10%);
$bg-card-header: #fdfdfd;

// layout
$sidebar-width: 225px;
$header-height: 60px;
$h-header: 3.5rem;
$transition: transform .3s ease-in-out, width .3s ease-in-out, margin .3s ease-in-out;

$radius: 4px;

